
@{
    ViewBag.Title = "Filmovi Po Zanru";
}

<h2>Filmovi Po Zanru</h2>

<table class="table">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Cijena</th>
            <th>Zanr</th>
            <th>Trajanje</th>

            <th>Glumac</th>



        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
        <tr>
            <td>@film.Naziv</td>
            <td>@film.Cijena</td>
            <td>@film.Zanr.Naziv</td>
            <td>@film.Glumci.Ime</td>
            <td>@film.Glumci.Prezime</td>
            <td>@film.Trajanje</td>

        </tr>
        }
    </tbody>

</table>
<p>Svi filmovi se mogu posuditi na 3 dana</p>
